header {
    left: 0;
    right: 0;
    position: absolute;
    justify-content: center;
    display:flex;
    top:0;
    align-items:center;
    width: 100%;
    height: 10%;
    background-color: blue;
    font-family: "Courier New";
    font-size: 30px;
    color:white;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    z-index: 3;
}
#game {
    margin-top: 200px;
    text-align: center;
}
#gameScore {
    font-family: "Courier New";
    font-size: 75px;
}
#gameGround {
    border: 2px solid darkblue;
}
#gameRestartBtn {
    font-family: "Courier New";
    font-size: 50px;
    width: 250px;
    height: 100px;
    border: 2px solid darkblue;
    border-radius: 2px;
    cursor: pointer;
}
